<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <fourth driverType="Chrome" serverUrl="" driverDirectory="" xdt:Transform="Replace">
        <reporting keepScreenshot="false" takeScreenshotOnError="true"/>
        <timeout driverCommands="00:01:59" defaultWait="00:01:59" />
        <capabilities>
            <add key="--start-maximized" />
            <add key="--disable-infobars" />
        </capabilities>
    </fourth>
</configuration>