<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="LpHotelsDataBase" providerName="System.Data.SqlClient" connectionString="Data Source=10.10.30.118;Initial Catalog=lpfh_automation;UID=SQLA-TeamHoursQA;PWD=N5p3SiRH63Ra3UmzGn6k;Max Pool Size=500;" />
  </connectionStrings>

  <appSettings xdt:Transform="Replace">
    <add key="UserId" value="SQLA-TeamHoursQA" />
    <add key="Password" value="N5p3SiRH63Ra3UmzGn6k" />
    <add key="Server" value="10.10.30.118" />
    <add key="Database" value="lpfh_automation" />
    <!--<add key="ExternalCustomerCanonicalId" value="ExternalCustomerCanonicalId" />
    <add key="CustomerCanonicalId" value="CustomerCanonicalId" />-->
    <add key="OrganisationSubdomain" value="ApiAutomationOrganisation" />
    <add key="timeBetweenRetries" value="300" />
    <add key="baseUrl" value="http://schedulingapiqa.teamhours.com/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="jwt_shared_secret" value="DCEF8DDE-79BC-4143-A155-B10D480A5CDEBCAE756E-57B7-445B-A9C5-9CFC3E3B31E8"/>
  </appSettings>
  
</configuration>

